<div class="container"><h1>Services:</h1></div>
<div class="row-6">
  <% @services.each do |service| %>
    <a class="anchor" name="<%= service.name %>" ></a>
    <div class="container">
          <div class="two columns">
            <div class="post-img"><img class="img_wrap1" src="<%= service.big_image_url %>" alt=""></div>
          </div>
          <div class="fourteen columns portfolio-content">
            <h2 class="headline">
              <%= service.title %>
            </h2>
            <%= service.body.html_safe %>
          </div>
    </div>
  <% end %>
</div>