.career
  .banner
    %img.banner_img{:src => '/images/banner/html_5.jpg', :alt => 'html5'}
    %img.banner_img{:src => '/images/banner/css_3.png', :alt => 'css3'}
    %img.banner_img{:src => '/images/banner/javascript.png', :alt => 'javascript'}
    %img.banner_img{:src => '/images/banner/ruby.png', :alt => 'ruby'}
    %img.banner_img{:src => '/images/banner/rubyrails.png', :alt => 'rails'}
    %img.banner_img{:src => '/images/banner/polymer.svg', :alt => 'polymer'}
  .link
    = link_to vacancies_path do
      = fa_icon 'binoculars'
      = t('career.index.link.text')

