<a class="anchor" name="contact" ></a>
<div class="container">
  <div class="sixteen columns">
  </div>
  <div class="five columns">
    <div class="block-ident-1">
      <h4 class="headline">Find Us</h4>
      <dl>
        <dt class="ident-bot-2"><strong> LITS, Artibus LLC<br />
          3635 Seaside Dr. #210<br />
          Key West, FL 33040</strong></dt>
        <dd><span>+1 786 600 1652</span>Telephone:</dd>
        <dd><span>LogicITSolutions</span>Skype:</dd>
        <dd><span><a href="#" class="link-1">office@logic-it-solutions.com</a></span>E-mail:</dd>
      </dl>
    </div>
  </div>
  <div class="eleven columns">
    <h4 class="headline">Get In Touch</h4>
    <!-- contact form -->
    <div id="confirm">
      <form id="form1">
        <div class="success">Thanks! We will be in touch soon.</div>
        <fieldset>
          <label class="name">
            <input type="text" value="Name">
            <div class="empty">Please enter your name.</div> </label>
          <label class="email">
            <input type="email" value="Email">
            <div class="error">This is not a valid email address.</div><div class="empty">Please enter Email Address.</div> </label>
          <label class="phone">
            <input type="text" value="Phone">
            <div class="error">This is not a valid phone.</div><div class="empty">Please enter phone.</div>
          </label>
          <label class="message">
            <textarea>Message</textarea>
            <div class="error">The message is too short.</div> <div class="empty">Please enter your message.</div> </label>
          <div class="clear"></div>
          <div class="btns"><a href="#" class="tp-button  medium orange" data-type="submit">Send message</a></div>
        </fieldset>
      </form>
    </div>
  </div>
</div>