<div class="container">
  <div class="ten columns">
    <video id="my_video_1" class="video-js vjs-default-skin" controls
           preload="auto" width="580" height="360" poster="/images/lits1_preview.png"
           data-setup="{}">
      <source src="/video/lits1.mp4" type='video/mp4'>
      <!--<source src="my_video.webm" type='video/webm'>-->
    </video>
  </div>
  <div class="six columns">
    <h4 data-effect="slide-left">Logic IT Staff is an information technology company operating in the global market with offices in the USA and Eastern Europe.</h4>
    <ul class="list-style">
      <li class="check-list" data-effect="slide-right">Full cycle development of games on the Framework Unity for IOS, Android, Flash and Windows 8 platforms</li>
      <li class="check-list" data-effect="slide-right">Full cycle development of application  for IOS, Android, Flash and Windows 8 platforms</li>
      <li class="check-list" data-effect="slide-right">Creation of program software using Ruby on Rails, C#, ะก++, Java, PHP, JavaScript</li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

<div class="container">
  <!-- Info box -->
  <div class="wrapper">
    <div class="columns sixteen">
      <div class="info-box">
        <div class="info-content">
          <h4>Logic IT Staff offers full cycle service of IT development</h4>
          We join and support your project at any stage or implement your ideas from the very scratch to the successful product.
        </div>
        <a href="/about" class="tp-button  medium orange fright">Read more</a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
