<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="height:400px">
  <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
  <ul>
    <!-- SLIDE  -->
    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
      <img src="/images/rev/bg1.png" alt="slideshow-video" />
      <div class="tp-caption sfl"
           data-x="0"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="Sine.easeOut"  >
           <!--
          <video id="my_video_1" class="video-js vjs-default-skin" controls
                 preload="none" width="580" height="360" poster="/images/video1_poster.jpg"
                 data-setup="{}"> -->
            <!--<source src="/video/video1.mp4" type='video/mp4'> -->
          <!---  <source src="/video/video1.webm" type='video/webm'>
          </video> -->
          <img src="/images/video1_poster.jpg">
      </div>
      <div class="tp-caption top-text-title sft"
           data-x="670"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="easeOutQuint" >Full cycle service of Web development</div>

      <div class="tp-caption te-caption sfr" data-x="670" data-y="50" data-speed="500" data-start="2000" data-easing="Sine.easeOut">Team</div>
      <div class="tp-caption medium_whitebg sfr" data-x="670" data-y="90" data-speed="500" data-start="2500" data-easing="Sine.easeOut">We are a coordinated team of experienced developers</div>
      <div class="tp-caption te-caption sfr" data-x="670" data-y="150" data-speed="500" data-start="3000" data-easing="Sine.easeOut">Specialization</div>
      <div class="tp-caption medium_whitebg sfr" data-x="670" data-y="190" data-speed="500" data-start="3500" data-easing="Sine.easeOut">Ruby On Rails full cycle development and service</div>
      <div class="tp-caption te-caption sfr" data-x="670" data-y="250" data-speed="500" data-start="4000" data-easing="Sine.easeOut">Ruby On Rails development</div>
      <div class="tp-caption medium_whitebg sfr" data-x="670" data-y="290" data-speed="500" data-start="4500" data-easing="Sine.easeOut">We are using Agile methodologies to craft outstanding web apps</div>
    </li>
    <!-- SLIDE  -->
    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
      <img src="/images/rev/bg1.png" alt="slideshow-video" />

      <div class="tp-caption sfl"
           data-x="0"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="Sine.easeOut">
           <!--
          <video id="my_video_2" class="video-js vjs-default-skin" controls
                 preload="none" width="580" height="360" poster="/images/video3_poster.jpg"
                 data-setup="{}"> -->
            <!--<source src="/video/video3.mp4" type='video/mp4'> -->
         <!--   <source src="/video/video3.webm" type='video/webm'>
          </video> -->
          <img src="/images/video3_poster.jpg">
      </div>

      <div class="tp-caption top-text-title sfr"
           data-x="670"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="easeOutQuint" >Professionalism and quality!</div>

      <div class="tp-caption top-text-title sfl"
           data-x="670"
           data-y="40"
           data-speed="500"
           data-start="1000"
           data-easing="easeOutQuint" ></div>


      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="100" data-speed="500" data-start="2000" data-easing="Sine.easeOut">&bull; Over 10 years of experience</div>
      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="140" data-speed="500" data-start="3000" data-easing="Sine.easeOut">&bull; Head office in USA, Backoffices in Eastern Europe</div>
      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="180" data-speed="500" data-start="4000" data-easing="Sine.easeOut">&bull; Guarantee of the best quality</div>
      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="220" data-speed="500" data-start="5000" data-easing="Sine.easeOut">&bull; Optimal price</div>
    </li>
    <!-- SLIDE  -->
    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
      <img src="/images/rev/bg1.png" alt="slideshow-video" />

      <div class="tp-caption sfl"
           data-x="0"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="Sine.easeOut"  >
           <!--
          <video id="my_video_3" class="video-js vjs-default-skin" controls
                 preload="none" width="580" height="360" poster="/images/video2_poster.jpg"
                 data-setup="{}"> -->
           <!-- <source src="/video/video2.mp4" type='video/mp4'> -->
          <!--  <source src="/video/video2.webm" type='video/webm'>
          </video> -->
          <img src="/images/video2_poster.jpg">
      </div>
      <div class="tp-caption top-text-title sft" data-x="670" data-y="0" data-speed="700" data-start="2000" data-easing="Sine.easeOut">Choose the best with Logic IT Solutions!</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="60" data-speed="500" data-start="2500" data-easing="Sine.easeOut">&bull; Highly-qualified team</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="100" data-speed="500" data-start="2700" data-easing="Sine.easeOut">&bull; Easy communication</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="140" data-speed="500" data-start="2900" data-easing="Sine.easeOut">&bull; Years of experience</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="180" data-speed="500" data-start="3100" data-easing="Sine.easeOut">&bull; Advanced IT infrastructure</div>
    </li>
  </ul>
  </div>
</div>
