<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
  <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
  <ul>
    <!-- SLIDE  -->
    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
      <img src="/images/rev/bg1.png" alt="slideshow-video" />

      <div class="tp-caption sfl"
           data-x="0"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="Sine.easeOut"  >
        <div id="player1"></div>
        <!--<iframe id="player1" width="650" height="366" src="//www.youtube.com/embed/UXDbWibQyKs?feature=player_detailpage&controls=2&autohide=1&rel=0&showinfo=0&enablejsapi=1&playerapiid=playerid1" frameborder="0" allowfullscreen></iframe>-->
      </div>
      <div class="tp-caption top-text-title sft"
           data-x="670"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="easeOutQuint" >Full cycle service of IT development</div>

      <div class="tp-caption te-caption sfr" data-x="670" data-y="50" data-speed="500" data-start="2000" data-easing="Sine.easeOut">Games</div>
      <div class="tp-caption medium_whitebg sfr" data-x="670" data-y="90" data-speed="500" data-start="2500" data-easing="Sine.easeOut">Unity for iOS, Android, Flash and Windows 8</div>
      <div class="tp-caption te-caption sfr" data-x="670" data-y="150" data-speed="500" data-start="3000" data-easing="Sine.easeOut">Mobile Apps</div>
      <div class="tp-caption medium_whitebg sfr" data-x="670" data-y="190" data-speed="500" data-start="3500" data-easing="Sine.easeOut">iOS, Android and Windows 8</div>
      <div class="tp-caption te-caption sfr" data-x="670" data-y="250" data-speed="500" data-start="4000" data-easing="Sine.easeOut">Web solutions</div>
      <div class="tp-caption medium_whitebg sfr" data-x="670" data-y="290" data-speed="500" data-start="4500" data-easing="Sine.easeOut">Ruby on Rails, C#, ะก++, Java, PHP, JavaScript</div>
    </li>
    <!-- SLIDE  -->
    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
      <img src="/images/rev/bg1.png" alt="slideshow-video" />

      <div class="tp-caption sfl"
           data-x="0"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="Sine.easeOut"  >
        <div id="player2"></div>
        <!--<iframe width="650" height="366" src="//www.youtube.com/embed/YJgGbEEiaA0?feature=player_detailpage&controls=2&autohide=1&rel=0&showinfo=0" name="player2" frameborder="0" allowfullscreen></iframe>-->
      </div>

      <div class="tp-caption top-text-title sfr"
           data-x="670"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="easeOutQuint" >Choose high quality and reasonable price</div>

      <div class="tp-caption top-text-title sfl"
           data-x="670"
           data-y="40"
           data-speed="500"
           data-start="1000"
           data-easing="easeOutQuint" >with Logic IT Staff!</div>


      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="100" data-speed="500" data-start="2000" data-easing="Sine.easeOut">&bull; Over 10 years of experience</div>
      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="140" data-speed="500" data-start="3000" data-easing="Sine.easeOut">&bull; Head office in USA, Backoffices in Eastern Europe</div>
      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="180" data-speed="500" data-start="4000" data-easing="Sine.easeOut">&bull; Guarantee of the best quality</div>
      <div class="tp-caption medium_whitebg sft" data-x="670" data-y="220" data-speed="500" data-start="5000" data-easing="Sine.easeOut">&bull; Optimal price</div>
    </li>
    <!-- SLIDE  -->
    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
      <img src="/images/rev/bg1.png" alt="slideshow-video" />

      <div class="tp-caption sfl"
           data-x="0"
           data-y="0"
           data-speed="500"
           data-start="1000"
           data-easing="Sine.easeOut"  >
        <div id="player3"></div>
        <!--<iframe width="650" height="366" src="//www.youtube.com/embed/1eMevfqqmkU?feature=player_detailpage&controls=2&autohide=1&rel=0&showinfo=0" name="player3" frameborder="0" allowfullscreen></iframe>-->
      </div>
      <div class="tp-caption top-text-title sft" data-x="670" data-y="0" data-speed="700" data-start="2000" data-easing="Sine.easeOut">It is safe to work with Logic IT Staff!</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="60" data-speed="500" data-start="2500" data-easing="Sine.easeOut">&bull; Highly-qualified IT staff</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="100" data-speed="500" data-start="2700" data-easing="Sine.easeOut">&bull; Excellent communication</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="140" data-speed="500" data-start="2900" data-easing="Sine.easeOut">&bull; We talk your language</div>
      <div class="tp-caption medium_whitebg sfb" data-x="670" data-y="180" data-speed="500" data-start="3100" data-easing="Sine.easeOut">&bull; Advanced IT infrastructure</div>
    </li>
  </ul>
  </div>
</div>
