#rev_slider_1_1_wrapper.rev_slider_wrapper.fullwidthbanner-container
  #rev_slider_1_1.rev_slider.fullwidthabanner
    %ul
      / SLIDE
      %li{"data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "fade"}
        %img{:alt => "slideshow-video", :src => "/images/rev/bg1.png"}/
        .tp-caption.sfl{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "1000", "data-x" => "0", "data-y" => "0"}
          #player1
          / <iframe id="player1" width="650" height="366" src="//www.youtube.com/embed/UXDbWibQyKs?feature=player_detailpage&amp;controls=2&amp;autohide=1&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;playerapiid=playerid1" frameborder="0" allowfullscreen></iframe>
        .tp-caption.top-text-title.sft{"data-easing" => "easeOutQuint", "data-speed" => "500", "data-start" => "1000", "data-x" => "670", "data-y" => "0"} Full cycle service of IT development
        .tp-caption.te-caption.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2000", "data-x" => "670", "data-y" => "50"} Games
        .tp-caption.medium_whitebg.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2500", "data-x" => "670", "data-y" => "90"} Unity for iOS, Android, Flash and Windows 8
        .tp-caption.te-caption.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3000", "data-x" => "670", "data-y" => "150"} Mobile Apps
        .tp-caption.medium_whitebg.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3500", "data-x" => "670", "data-y" => "190"} iOS, Android and Windows 8
        .tp-caption.te-caption.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "4000", "data-x" => "670", "data-y" => "250"} Web solutions
        .tp-caption.medium_whitebg.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "4500", "data-x" => "670", "data-y" => "290"} Ruby on Rails, C#, ะก++, Java, PHP, JavaScript
      / SLIDE
      %li{"data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "fade"}
        %img{:alt => "slideshow-video", :src => "/images/rev/bg1.png"}/
        .tp-caption.sfl{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "1000", "data-x" => "0", "data-y" => "0"}
          #player2
          / <iframe width="650" height="366" src="//www.youtube.com/embed/YJgGbEEiaA0?feature=player_detailpage&amp;controls=2&amp;autohide=1&amp;rel=0&amp;showinfo=0" name="player2" frameborder="0" allowfullscreen></iframe>
        .tp-caption.top-text-title.sfr{"data-easing" => "easeOutQuint", "data-speed" => "500", "data-start" => "1000", "data-x" => "670", "data-y" => "0"} Choose high quality and reasonable price
        .tp-caption.top-text-title.sfl{"data-easing" => "easeOutQuint", "data-speed" => "500", "data-start" => "1000", "data-x" => "670", "data-y" => "40"} with Logic IT Staff!
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2000", "data-x" => "670", "data-y" => "100"} &bull; Over 10 years of experience
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3000", "data-x" => "670", "data-y" => "140"} &bull; Head office in USA, Backoffices in Eastern Europe
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "4000", "data-x" => "670", "data-y" => "180"} &bull; Guarantee of the best quality
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "5000", "data-x" => "670", "data-y" => "220"} &bull; Optimal price
      / SLIDE
      %li{"data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "fade"}
        %img{:alt => "slideshow-video", :src => "/images/rev/bg1.png"}/
        .tp-caption.sfl{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "1000", "data-x" => "0", "data-y" => "0"}
          #player3
          / <iframe width="650" height="366" src="//www.youtube.com/embed/1eMevfqqmkU?feature=player_detailpage&amp;controls=2&amp;autohide=1&amp;rel=0&amp;showinfo=0" name="player3" frameborder="0" allowfullscreen></iframe>
        .tp-caption.top-text-title.sft{"data-easing" => "Sine.easeOut", "data-speed" => "700", "data-start" => "2000", "data-x" => "670", "data-y" => "0"} It is safe to work with Logic IT Staff!
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2500", "data-x" => "670", "data-y" => "60"} &bull; Highly-qualified IT staff
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2700", "data-x" => "670", "data-y" => "100"} &bull; Excellent communication
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2900", "data-x" => "670", "data-y" => "140"} &bull; We talk your language
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3100", "data-x" => "670", "data-y" => "180"} &bull; Advanced IT infrastructure
