#rev_slider_1_1_wrapper.rev_slider_wrapper.fullwidthbanner-container{:style => "height:400px"}
  #rev_slider_1_1.rev_slider.fullwidthabanner
    %ul
      / SLIDE
      %li{"data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "fade"}
        %img{:alt => "slideshow-video", :src => "/images/rev/bg1.png"}/
        .tp-caption.sfl{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "1000", "data-x" => "0", "data-y" => "0"}
          /
            <video id="my_video_1" class="video-js vjs-default-skin" controls
            preload="none" width="580" height="360" poster="/images/video1_poster.jpg"
            data-setup="{}">
          / <source src="/video/video1.mp4" type='video/mp4'>
          /
            \-  <source src="/video/video1.webm" type='video/webm'>
            </video>
          %img{:src => "/images/video1_poster.jpg"}/
        .tp-caption.top-text-title.sft{"data-easing" => "easeOutQuint", "data-speed" => "500", "data-start" => "1000", "data-x" => "670", "data-y" => "0"} Full cycle service of Web development
        .tp-caption.te-caption.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2000", "data-x" => "670", "data-y" => "50"} Team
        .tp-caption.medium_whitebg.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2500", "data-x" => "670", "data-y" => "90"} We are a coordinated team of experienced developers
        .tp-caption.te-caption.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3000", "data-x" => "670", "data-y" => "150"} Specialization
        .tp-caption.medium_whitebg.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3500", "data-x" => "670", "data-y" => "190"} Ruby On Rails full cycle development and service
        .tp-caption.te-caption.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "4000", "data-x" => "670", "data-y" => "250"} Ruby On Rails development
        .tp-caption.medium_whitebg.sfr{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "4500", "data-x" => "670", "data-y" => "290"} We are using Agile methodologies to craft outstanding web apps
      / SLIDE
      %li{"data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "fade"}
        %img{:alt => "slideshow-video", :src => "/images/rev/bg1.png"}/
        .tp-caption.sfl{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "1000", "data-x" => "0", "data-y" => "0"}
          /
            <video id="my_video_2" class="video-js vjs-default-skin" controls
            preload="none" width="580" height="360" poster="/images/video3_poster.jpg"
            data-setup="{}">
          / <source src="/video/video3.mp4" type='video/mp4'>
          /
            <source src="/video/video3.webm" type='video/webm'>
            </video>
          %img{:src => "/images/video3_poster.jpg"}/
        .tp-caption.top-text-title.sfr{"data-easing" => "easeOutQuint", "data-speed" => "500", "data-start" => "1000", "data-x" => "670", "data-y" => "0"} Professionalism and quality!
        .tp-caption.top-text-title.sfl{"data-easing" => "easeOutQuint", "data-speed" => "500", "data-start" => "1000", "data-x" => "670", "data-y" => "40"}
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2000", "data-x" => "670", "data-y" => "100"} &bull; Over 10 years of experience
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3000", "data-x" => "670", "data-y" => "140"} &bull; Head office in USA, Backoffices in Eastern Europe
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "4000", "data-x" => "670", "data-y" => "180"} &bull; Guarantee of the best quality
        .tp-caption.medium_whitebg.sft{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "5000", "data-x" => "670", "data-y" => "220"} &bull; Optimal price
      / SLIDE
      %li{"data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "fade"}
        %img{:alt => "slideshow-video", :src => "/images/rev/bg1.png"}/
        .tp-caption.sfl{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "1000", "data-x" => "0", "data-y" => "0"}
          /
            <video id="my_video_3" class="video-js vjs-default-skin" controls
            preload="none" width="580" height="360" poster="/images/video2_poster.jpg"
            data-setup="{}">
          / <source src="/video/video2.mp4" type='video/mp4'>
          /
            <source src="/video/video2.webm" type='video/webm'>
            </video>
          %img{:src => "/images/video2_poster.jpg"}/
        .tp-caption.top-text-title.sft{"data-easing" => "Sine.easeOut", "data-speed" => "700", "data-start" => "2000", "data-x" => "670", "data-y" => "0"} Choose the best with Logic IT Solutions!
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2500", "data-x" => "670", "data-y" => "60"} &bull; Highly-qualified team
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2700", "data-x" => "670", "data-y" => "100"} &bull; Easy communication
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "2900", "data-x" => "670", "data-y" => "140"} &bull; Years of experience
        .tp-caption.medium_whitebg.sfb{"data-easing" => "Sine.easeOut", "data-speed" => "500", "data-start" => "3100", "data-x" => "670", "data-y" => "180"} &bull; Advanced IT infrastructure
