<a class="anchor" name="services" ></a>
<div class="row-2">
  <div class="container">
    <div class="wrapper">
      <div class="columns sixteen">
        <div class="aligncenter">
          <div class="text-1 blue-ft-shadow">Our services</div>
          <div class="text-2">LITS carries out projects of any difficulty and complexity. We ensure the best quality and the best professionals in the sphere of IT.<br />Mainly we specialize in:</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="row-3">
  <div class="container">
    <div class="wrapper">
      <div class="columns sixteen">
        <div class="box2" data-effect="slide-left">
          <a href="/services#web">
            <div class="box">
              <div class="icon-wrap">
                <img src="/images/service1.png">
              </div>
              <h3>Web development</h3>
              <p>Development of web-projects of any complexity in Ruby on Rails, Java, PHP.</p>
            </div>
          </a>
        </div>
        <div class="box2" data-effect="slide-top">
          <a href="/services#mobile_apps">
            <div class="box">
              <div class="icon-wrap">
                <img src="/images/service2.png">
              </div>
              <h3>Mobile applications</h3>
              <p>Provision of full-cycle mobile application development for Android, iOS, Windows Phone.</p>
            </div>
          </a>
        </div>
        <div class="box2" data-effect="slide-right">
          <a href="/services#ecommerce">
            <div class="box last-column">
              <div class="icon-wrap">
                <img src="/images/service3.png">
              </div>
              <h3>eCommerce</h3>
              <p>Establishment of eCommerce software on CMS Magento.</p>
            </div>
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
   <a href="/services" class="tp-button  medium orange fright">More services</a>
</div>
