%a.anchor{:name => "services"}
.row-2
  .container
    .wrapper
      .columns.sixteen
        .aligncenter
          .text-1.blue-ft-shadow Our services
          .text-2
            LITS carries out projects of any difficulty and complexity. We ensure the best quality and the best professionals in the sphere of IT.
            %br>/
            Mainly we specialize in:
        .clear
.row-3
  .container
    .wrapper
      .columns.sixteen
        .box2{"data-effect" => "slide-left"}
          %a{:href => "/services#web"}
          .box
            .icon-wrap
              %img{:src => "/images/service1.png"}/
            %h3 Web development
            %p Development of web-projects of any complexity in Ruby on Rails, Java, PHP.
        .box2{"data-effect" => "slide-top"}
          %a{:href => "/services#mobile_apps"}
          .box
            .icon-wrap
              %img{:src => "/images/service2.png"}/
            %h3 Mobile applications
            %p Provision of full-cycle mobile application development for Android, iOS, Windows Phone.
        .box2{"data-effect" => "slide-right"}
          %a{:href => "/services#ecommerce"}
          .box.last-column
            .icon-wrap
              %img{:src => "/images/service3.png"}/
            %h3 eCommerce
            %p Establishment of eCommerce software on CMS Magento.
        .clear
.container
  %a.tp-button.medium.orange.fright{:href => "/services"} More services
