%a.anchor{:name => "works"}
.row-2
  .container
    .wrapper
      .columns.sixteen
        .aligncenter
          .text-1.blue-ft-shadow Some of our works
          .text-2 See our work
        .clear
.row-3
  #demo.container-a2
    #owl-demo.owl-carousel.caption-style-2
      .item
        %a{:href => "/works#settle"}
          %img{:alt => "Settle In", :src => "/images/Settle-In.jpg"}/
        .caption
          .blur
          .caption-text
            %h2{:style => "color:white"} Settle In
            %p Online relocation service.
      .item
        %a{:href => "/works#esign"}
          %img{:alt => "E-sign", :src => "/images/e-sign.jpg"}/
        .caption
          .blur
          .caption-text
            %h2{:style => "color:white"} E-sign
            %p e-signatures service
      .item
        %a{:href => "/works#tags"}
          %img{:alt => "Wear my Tags", :src => "/images/Wear-my-Tags.jpg"}/
        .caption
          .blur
          .caption-text
            %h2{:style => "color:white"} Wear my Tags
            %p Fashion Marketplace
      .item
        %a{:href => "/works#heroes"}
          %img{:alt => "Angry heroes", :src => "/images/work1_big.png"}/
        .caption
          .blur
          .caption-text
            %h2{:style => "color:white"} Angry heroes
            %p Cross-platform MMORPG game
      .item
        %a{:href => "/works#slots"}
          %img{:alt => "Slot maniacs", :src => "/images/work2_big.png"}/
        .caption
          .blur
          .caption-text
            %h2{:style => "color:white"} Slot maniacs
            %p Slot machine stimulator
