<a class="anchor" name="works" ></a>
<div class="row-2">
  <div class="container">
    <div class="wrapper">
      <div class="columns sixteen">
        <div class="aligncenter">
          <div class="text-1 blue-ft-shadow">Some of our works</div>
          <div class="text-2">See our work</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="row-3">
  <div id="demo" class="container-a2">
    <div id="owl-demo" class="owl-carousel caption-style-2">
      
      
      <div class="item"><a href="/works#settle"><img src="/images/Settle-In.jpg" alt="Settle In"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h2 style="color:white">Settle In</h2>
            <p>Online relocation service.</p>
          </div>
        </div>
      </div>
      <div class="item"><a href="/works#esign"><img src="/images/e-sign.jpg" alt="E-sign"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h2 style="color:white">E-sign</h2>
            <p>e-signatures service</p>
          </div>
        </div>
      </div>
      <div class="item"><a href="/works#tags"><img src="/images/Wear-my-Tags.jpg" alt="Wear my Tags"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h2 style="color:white">Wear my Tags</h2>
            <p>Fashion Marketplace</p>
          </div>
        </div>
      </div>

      <div class="item"><a href="/works#heroes"><img src="/images/work1_big.png" alt="Angry heroes"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h2 style="color:white">Angry heroes</h2>
            <p>Cross-platform MMORPG game</p>
          </div>
        </div>
      </div>

      <div class="item"><a href="/works#slots"><img src="/images/work2_big.png" alt="Slot maniacs"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h2 style="color:white">Slot maniacs</h2>
            <p>Slot machine stimulator</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
