<a class="anchor" name="works" ></a>
<div class="row-2">
  <div class="container">
    <div class="wrapper">
      <div class="columns sixteen">
        <div class="aligncenter">
          <div class="text-1 blue-ft-shadow">Some of our works</div>
          <div class="text-2">See our work</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div class="row-3">
  <div id="demo" class="container-a2">
    <div id="owl-demo" class="owl-carousel caption-style-2">
      <div class="item"><a href="/works#heroes"><img src="/images/work1_big.png" alt="Angry heroes"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Angry heroes</h1>
            <p>Cross-platform MMORPG game</p>
          </div>
        </div>
      </div>
      <div class="item"><a href="/works#slots"><img src="/images/work2_big.png" alt="Slot maniacs"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Slot maniacs</h1>
            <p>Slot machine stimulator</p>
          </div>
        </div>
      </div>
      <div class="item"><a href="/works#crackers"><img src="/images/work3_big.png" alt="Safe cracker"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Safe cracker</h1>
            <p>Mobile game</p>
          </div>
        </div>
      </div>
      <div class="item"><a href="/works#mgates"><img src="/images/work4_big.png" alt="mGates"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>mGates</h1>
            <p>Social gaming network</p>
          </div>
        </div>
      </div>
      <div class="item"><a href="/works#vgonke"><img src="/images/work5_big.png" alt="vGonke"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>vGonke</h1>
            <p>Browser MMORPG game</p>
          </div>
        </div>
      </div>
      <div class="item"><a href="/works#frenzy"><img src="/images/work6_big.png" alt="Christmas FRENZY"></a>
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Christmas FRENZY</h1>
            <p>Mobile game</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
