  <div class="row-6">
    <a class="anchor" name="heroes" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work1.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Angry heroes</h2>
        <p>Cross-platform MMORPG game</p>
        <p>2012 - 2013</p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>Ruby on Rails</li>
            <li>MySQL</li>
            <li>Redis</li>
            <li>Unity3D</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="http://www.angryheroesgame.com" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="slots" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work2.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Slot Maniacs</h2>
        <p>Slot machine stimulator</p>
        <p>2009 - 2010</p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>Unity3D</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="https://play.google.com/store/apps/details?id=mobi.artibus.slotmaniacs" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="crackers" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work3.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Safe crackers</h2>
        <p>Mobile game</p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>HTML5</li>
            <li>PhoneGap</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="https://play.google.com/store/apps/details?id=net.armobi.safecracker" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="mgates" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work4.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">MGates</h2>
        <p>Social gaming network of mobile browser games with the joint system of monetization and social API.</p>
        <p></p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>PHP</li>
            <li>MySQL</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="http://www.mgates.ru" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="vgonke" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work5.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">vGonke</h2>
        <p>Browser MMORPG game</p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>HTML5</li>
            <li>PhoneGap</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="https://play.google.com/store/apps/details?id=ru.armobi.inrace" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="frenzy" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work6.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Christmas FRENZY</h2>
        <p>Mobile game</p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>HTML5</li>
            <li>PhoneGap</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="https://play.google.com/store/apps/details?id=com.franzy.christmas" > Visit Site </a>
      </div>
    </div>
  </div>

<div class="container">
  <div class="wrapper">
    <div class="columns sixteen">
      <div class="info-box">
        <div class="info-content">
          Our team has 7+ experience in establishing and building our own products, understanding the whole process — we know how to take an idea and transform it into a product, and we know how to take that product and market it to the world.
        </div>
        <a href="/#contact" class="tp-button  medium orange fright">Contact Us</a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
