<div class="container"><h1>Projects based on Ruby On Rails </h1></div>  

  
  <div class="row-6">
    <a class="anchor" name="settle" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/settle-small.jpg" alt="settle in"></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Settle In</h2>
        <p>Settle-In - online relocation service, to find more about the place you are planning to move to. </p>
        <p><img src="/images/settle-portfolio.jpg" alt="settle in portfolio" width="672"></p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>HTML5</li>
            <li>Ruby on Rails</li>
            <li>Backbone.js</li>
            <li>Google Maps API</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="#" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="esign" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/sign-small.jpg" alt="e-sign"></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">e-Sign</h2>
        <p>Digitally sign your documents with the trust and speed of a handshake.</p>
        <p>E-Sign - application to create and use electronic signatures. E-Sign is used in more than 120 countries worldwide. Start signing your documents electronically.</p>
        <p><img src="/images/esign-portfolio.jpg" alt="e-sign portfolio" width="672"></p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>Ruby on Rails</li>
            <li>MySQL</li>
            <li>Angular.js</li>
            <li>Node.js</li>
            <li>Grunt.js</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="http://www.e-sign.co.uk" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="tags" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/tags-small.jpg" alt="wear my tags"></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Wear my tags</h2>
        <p>Fashion marketplace</p>
        <p>GET IT DESIGNED, MANUFACTURED, AND SOLD</p>
        <p>Wear My Tag- a clothing platform, where you can design your own clothes, manufacture them sell them or buy directly from world most famous designers and ship them all round the world. </p>
        <p><img src="/images/tags-portfolio.jpg" alt="wear my tags portfolio" width="672"></p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>HTML5</li>
            <li>Ruby on Rails</li>
            <li>Angular.js</li>
            <li>PostgreSQL</li>
            <li>Geocoder</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="http://wearmytags.com" > Visit Site </a>
      </div>
    </div>
  </div>

  <div class="row-6">
    <a class="anchor" name="heroes" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work1.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Angry heroes</h2>
        <p>Cross-platform MMORPG game</p>
        <p>No matter you are a hardcore gamer or just a beginner, we have put together the best of the RPG genre in the coolest and truly reckless, free online game - Angry Heroes </p>
        <p>2012 - 2013</p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>Ruby on Rails</li>
            <li>MySQL</li>
            <li>Redis</li>
            <li>Unity3D</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="http://www.angryheroesgame.com" > Visit Site </a>
      </div>
    </div>
  </div>

<div class="row-6">
    <a class="anchor" name="slots" ></a>
    <div class="container">
      <div class="four columns">
        <div class="post-img"><img class="img-border img_wrap1" src="/images/work2.png" alt=""></div>
      </div>
      <div class="twelve columns portfolio-content">
        <h2 class="headline">Slot Maniacs</h2>
        <p>Slot machine stimulator</p>
        <p>Slot machine stimulator game. Treasure Hunt has begun! Plunge headlong into the enchanting world of the ancient civilizations of the new game from Artibus, Slot Maniacs!
</p>
        <p>2009 - 2010</p>
        <h4 class="headline">Technologies:</h4>
        <div class="check_list">
          <ul>
            <li>Unity3D</li>
          </ul>
        </div>
        <a class="button button-border medium yellow" href="https://play.google.com/store/apps/details?id=mobi.artibus.slotmaniacs" > Visit Site </a>
      </div>
    </div>
  </div>



<div class="container">
  <div class="wrapper">
    <div class="columns sixteen">
      <div class="info-box">
        <div class="info-content">
          Our team has experience in establishing and building our own products, understanding the whole process — we know how to take an idea and transform it into a product, and we know how to take that product and market it to the world.
        </div>
        <a href="/#contact" class="tp-button  medium orange fright">Contact Us</a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
