.container
  %h1 Projects based on Ruby On Rails
.row-6
  %a.anchor{:name => "settle"}
  .container
    .four.columns
      .post-img
        %img.img-border.img_wrap1{:alt => "settle in", :src => "/images/settle-small.jpg"}/
    .twelve.columns.portfolio-content
      %h2.headline Settle In
      %p Settle-In - online relocation service, to find more about the place you are planning to move to.
      %p
        %img{:alt => "settle in portfolio", :src => "/images/settle-portfolio.jpg", :width => "672"}/
      %h4.headline Technologies:
      .check_list
        %ul
          %li HTML5
          %li Ruby on Rails
          %li Backbone.js
          %li Google Maps API
          %li PostgreSQL
      %a.button.button-border.medium.yellow{:href => "#"} Visit Site
.row-6
  %a.anchor{:name => "esign"}
  .container
    .four.columns
      .post-img
        %img.img-border.img_wrap1{:alt => "e-sign", :src => "/images/sign-small.jpg"}/
    .twelve.columns.portfolio-content
      %h2.headline e-Sign
      %p Digitally sign your documents with the trust and speed of a handshake.
      %p E-Sign - application to create and use electronic signatures. E-Sign is used in more than 120 countries worldwide. Start signing your documents electronically.
      %p
        %img{:alt => "e-sign portfolio", :src => "/images/esign-portfolio.jpg", :width => "672"}/
      %h4.headline Technologies:
      .check_list
        %ul
          %li Ruby on Rails
          %li MySQL
          %li Angular.js
          %li Node.js
          %li Grunt.js
      %a.button.button-border.medium.yellow{:href => "http://www.e-sign.co.uk"} Visit Site
.row-6
  %a.anchor{:name => "tags"}
  .container
    .four.columns
      .post-img
        %img.img-border.img_wrap1{:alt => "wear my tags", :src => "/images/tags-small.jpg"}/
    .twelve.columns.portfolio-content
      %h2.headline Wear my tags
      %p Fashion marketplace
      %p GET IT DESIGNED, MANUFACTURED, AND SOLD
      %p Wear My Tag- a clothing platform, where you can design your own clothes, manufacture them sell them or buy directly from world most famous designers and ship them all round the world.
      %p
        %img{:alt => "wear my tags portfolio", :src => "/images/tags-portfolio.jpg", :width => "672"}/
      %h4.headline Technologies:
      .check_list
        %ul
          %li HTML5
          %li Ruby on Rails
          %li Angular.js
          %li PostgreSQL
          %li Geocoder
      %a.button.button-border.medium.yellow{:href => "http://wearmytags.com"} Visit Site
.row-6
  %a.anchor{:name => "heroes"}
  .container
    .four.columns
      .post-img
        %img.img-border.img_wrap1{:alt => "", :src => "/images/work1.png"}/
    .twelve.columns.portfolio-content
      %h2.headline Angry heroes
      %p Cross-platform MMORPG game
      %p No matter you are a hardcore gamer or just a beginner, we have put together the best of the RPG genre in the coolest and truly reckless, free online game - Angry Heroes
      %p 2012 - 2013
      %h4.headline Technologies:
      .check_list
        %ul
          %li Ruby on Rails
          %li MySQL
          %li Redis
          %li Unity3D
      %a.button.button-border.medium.yellow{:href => "http://www.angryheroesgame.com"} Visit Site
.row-6
  %a.anchor{:name => "slots"}
  .container
    .four.columns
      .post-img
        %img.img-border.img_wrap1{:alt => "", :src => "/images/work2.png"}/
    .twelve.columns.portfolio-content
      %h2.headline Slot Maniacs
      %p Slot machine stimulator
      %p
        Slot machine stimulator game. Treasure Hunt has begun! Plunge headlong into the enchanting world of the ancient civilizations of the new game from Artibus, Slot Maniacs!
      %p 2009 - 2010
      %h4.headline Technologies:
      .check_list
        %ul
          %li Unity3D
      %a.button.button-border.medium.yellow{:href => "https://play.google.com/store/apps/details?id=mobi.artibus.slotmaniacs"} Visit Site
.container
  .wrapper
    .columns.sixteen
      .info-box
        .info-content
          Our team has experience in establishing and building our own products, understanding the whole process — we know how to take an idea and transform it into a product, and we know how to take that product and market it to the world.
        %a.tp-button.medium.orange.fright{:href => "/#contact"} Contact Us
        .clearfix
