.vacancy
  border: solid 1px #7777AA
  border-radius: 6px
  padding: 5px
  margin-bottom: 2px

  .head
    font-size: 16px
    padding: 2px

    display: table
    width: 100%

    >div
      display: table-cell

      >div
        display: table

        >div
          width: 100%
          display: table-cell
          text-align: center
    .name
      background: #EEEEFF

    .salary
      background: #FFFFEE
      width: 20%

    .owner
      background: #FFEEEE
      width: 20%

  .details
    background: #EEFFEE
    margin-top: 5px
