.vacancy
  border: solid 1px #0000AA
  border-radius: 6px
  padding: 5px

  .head
    background: #EEEEFF
    padding: 2px

    display: table
    width: 100%

    >div
      display: table-cell

      >div
        display: table

        >div
          width: 100%
          display: table-cell
          text-align: center

    .salary
      width: 10%

    .owner
      width: 20%

  .details
    margin-top: 5px
