!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Name: #{h @name}.
      %br/
    %p
      Email: #{h @email}.
      %br/
    %p
      Phone: #{h @phone}.
      %br/
    %p
      Message: #{h @message}.
      %br/
