<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Name: <%= h @name %>.<br>
</p>
<p>
  Email: <%= h @email %>.<br>
</p>
<p>
  Phone: <%= h @phone %>.<br>
</p>
<p>
  Message: <%= h @message %>.<br>
</p>

</body>
</html>