<div class="row-6">
    <div class="container">
      <div class="sixteen columns ">
        <h1>
          <%= @page_title %>
        </h1>
        <%= @page_description %>
      </div>
    </div>
</div>