@import vacancy

.vacancies
  >h2
    text-align: center

  .flash-notice
    color: #00AA00
    text-align: center
    background: #AAFFAA
    border-radius: 6px
    width: 300px
    margin: auto
    padding: 5px

  .vacancy-list
    padding-right: 2px

  .vacancy-list.for-candidate
    padding: 20px

  .control-panel
    display: table
    width: 100%
    padding: 5px
    margin-bottom: 2px
    background: #EEEEEE
    border-radius: 6px
    border-radius: 6px

    .control-button
      display: table-cell
      font-size: 18px
      color: #3A6288

      a
        color: #3A6288
      a:hover
        color: #FFAB37

  .empty-result
    font-size: 16px
    color: #AA4444
    text-align: center
    margin-bottom: 5px
