.reply
  display: table
  width: 100%
  border-spacing: 6px

  .validation-error
    color: #AA0000
    text-align: center
    background: #FFAAAA
    border-radius: 6px
    width: 300px
    margin: auto
    padding: 5px

  .english

    input
      font-size: 20px
      background: #264E74
      color: white
      text-align: center

    .hint
      display: inline
      margin-left: 5px

  .cooperation

    .work-hours[readonly]
      background: darkgray
